# TODO: Argo CD Applications configuration
# This will be templated with github credentials
#
# PRODUCTION NOTE: In production, use AWS Secrets Manager with External Secrets Operator
# instead of storing credentials in Terraform variables or values.yaml

applications:
  - name: django-app
    namespace: default
    project: default
    source:
      repoURL: ${github_repo_url}
      path: charts/django-app
      targetRevision: lesson-db-module
      helm:
        valueFiles:
          - values.yaml
    destination:
      server: https://kubernetes.default.svc
      namespace: default
    syncPolicy:
      automated:
        prune: true
        selfHeal: true

repositories:
  - name: django-app
    url: ${github_repo_url}
    username: ${github_username}
    password: ${github_token}

repoConfig:
  insecure: "true"
  enableLfs: "true"