adminUser: admin
adminPassword: "${grafana_admin_password}"

service:
  type: LoadBalancer
  port: 80

persistence:
  enabled: true
  size: 5Gi
  storageClassName: ebs-sc

# Автоматичне підключення Prometheus як datasource
datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        url: http://prometheus-server.monitoring.svc:80
        access: proxy
        isDefault: true
